{% extends 'base.html' %}
{% load markdownify %}

{% block page_name %}
  <title>Meal Plan Details - Scrumptious</title>
{% endblock page_name %}

{% block content %}
<main>
  <div class="custom-heading1">
    {{ mealplan.name }} Meal Plan
  </div>
  <div class="subheading-links">
    <a href="{% url 'mealplan_edit' mealplan.id %}">Edit</a>
    &nbsp|&nbsp
    <a href="{% url 'mealplan_delete' mealplan.id %}">Delete</a>
    <br>Plan Start Date: {{ mealplan.startdate }}
  </div>
  <!--recipe description-->
  <div class="mealplan-description">
    <p>{{ mealplan.description }}</p>
  </div>
  <div class="mini-page-gallery">
    {% for recipe in mealplan.recipes.all %}
        <a href="{% url 'recipe_detail' recipe.pk %}" class="card-a">
            <div class="recipe-card">
                <h2 class="recipe-card-title">
                    {{ recipe.name }}
                </h2>
                {% if recipe.image %}
                    <img src="{{ recipe.image }}" class="pull-right card-img-detail">
                {% endif %}
                <p class="recipe-card-date"> by {{ recipe.author }}</p>
            </div>
        </a>
    {% endfor %}
  </div>
</main>
{% endblock content %}
