{% extends 'base.html' %}

{% block page_name %}
  <title>Scrumptious Meal Plans</title>
{% endblock page_name %}

{% block content %}
  <main>
    <div class="padded">
      <a href="{% url 'mealplan_new' %}" class="pagination">Create a new meal plan</a>
      <div class="pagination">
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}" class="unstyle-link">&#x25C0 &nbsp</a>
        {% endif %}
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="unstyle-link">&nbsp &#x25B6</a>
        {% endif %}
      </div>
    </div>
    <div class="main-page-gallery">
      {% for mealplan in mealplan_list %}
      <a href="{% url 'mealplan_details' mealplan.pk %}" class="unstyle-link""card-a">
        <div class="recipe-card">
          <h2>{{ mealplan.name }}</h2>
          <p class="mealplan-card-date">Start date: {{ mealplan.startdate }}</p>
        </div>
      </a>
      {% endfor %}
    </div>
  </main>
{% endblock content %}
