{% extends 'base.html' %}

{% block page_name %}
  <title>New Meal Plan - Scrumptious</title>
{% endblock page_name %}

{% block content %}
  <main>
    <form method="post" class="form-text" autocomplete="off">
      {% csrf_token %}
      {{ form.as_p }}
      <div>
        <button class="button">Create</button>
      </div>
    </form>
  </main>
{% endblock content %}
