{% extends 'base.html' %}

{% block page_name %}
  <title>Delete Recipe - Scrumptious</title>
{% endblock page_name %}

{% block content %}
  <main>
    <form method="post" class="form-text">
      {% csrf_token %}
      <p>Are you sure you want to delete "{{ recipe }}"?</p>
      {{ form.as_p }}
      <div>
        <button class="button">Confirm Delete</button>
      </div>
    </form>
  </main>
{% endblock content %}
