{% extends 'base.html' %}
{% load markdownify %}
{% load resizer %}

{% block page_name %}
  <title>Details - Scrumptious</title>
{% endblock page_name %}

{% block content %}
  <main>
    <div class="two-columns">
      <div class = "text-content">
          <!--recipe title-->
          <div class="recipe-name">
              {{ recipe.name }}
          </div>
          <!--rating form-->
          <form method="post" class="rating-form-text" action="{% url 'recipe_rating' recipe.id %}">
              {% csrf_token %}
              {{ rating_form }}
              <button class="button">Rate</button>
          </form>
          <!--tags-->
          <div class="recipe-tags">
              {% for tag in recipe.tags.all %}
                  #{{ tag.name }}
              {% endfor %}
          </div>
          <!--recipe metadata-->
          <div class="date-text">
              created on {{ recipe.created }} | updated on {{ recipe.updated }}<br>
              by {{ recipe.author }}
          </div>
          <!--recipe description-->
          <div class="recipe-description">
              <p>{{ recipe.description }}</p>
          </div>
          <!--edit recipe link and add tags-->
          <span>
            {% if user.username|slugify == recipe.author|slugify %}
              <a href="{% url 'recipe_edit' recipe.id %}" class="edit-recipe-link">Edit this recipe</a>
              &nbsp
              <a href="{% url 'tag_new' %}" class="edit-recipe-link">Add a tag</a>
              &nbsp
              <a href="{% url 'recipe_delete' recipe.id %}" class="edit-recipe-link">Delete this recipe</a>
            {% endif %}
          </span>
          <!--recipe ingredients-->
          <div class="dropdown">
              <input id="check01" type="checkbox" name="Ingredients" class="drop-down-input"/>
              <label for="check01" class="drop-down-label"><h3 class="icon-menu">&nbsp;&nbsp;Ingredients</h3></label>
              <div class="dropdown-content-def-open">
                  <div>
                    Serves {{ recipe.servings }} by default
                    <form method="POST">
                      {% csrf_token %}
                      <label for="serving_scaling">Scale servings to: &nbsp</label>
                      <input name="serving_scaling" type="number" class="serving-scaler" value="{{current_serving_size}}" onchange="this.form.submit()">
                    </form>
                  </div>
                  <table class="ingredients-table">
                    <colgroup>
                      <col style="width: 45%">
                      <col style="width: 35%">
                      <col style="width: 20%">
                    </colgroup>
                    <thead>
                      <tr>
                          <th>Ingredient</th>
                          <th>Amount</th>
                          <th>Add item</th>
                      </tr>
                      </thead>
                      <tbody>
                          {% for ingredient in recipe.ingredients.all %}
                              <tr>
                                  <td>{{ ingredient.food.name }}</td>
                                  <td>{{ ingredient|resize_to:current_serving_size }} {{ ingredient.measure.name }}</td>
                                  <td>
                                    {% if ingredient.food not in shopping_list_foods %}
                                      <form method="POST" action="{% url 'shopping_new' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="ingredient_id" value="{{ ingredient.id }}">
                                        <button title="Add to shopping list" class="shopping-list-button">+</button>
                                      </form>
                                    {% endif %}
                                  </td>
                              </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
          <br>
          <!--recipe steps-->
          <div class="dropdown">
              <input id="check02" type="checkbox" name="Instructions" class="drop-down-input"/>
              <label for="check02" class="drop-down-label"><h3 class="icon-menu">&nbsp;&nbsp;Instructions</h3></label>
              <div class="dropdown-content-def-close">
                  <ol>
                      {% for step in recipe.steps.all %}
                          <li>{{ step.directions }}</li>
                      {% endfor %}
                    <div class="cat-location">
                      <div class="all-wrap">
                        <div class="all">
                          <div class="yarn"></div>
                          <div class="cat-wrap">
                            <div class="cat">
                              <div class="cat-upper">
                                <div class="cat-leg"></div>
                                <div class="cat-leg"></div>
                                <div class="cat-head">
                                  <div class="cat-ears">
                                    <div class="cat-ear"></div>
                                    <div class="cat-ear"></div>
                                  </div>
                                  <div class="cat-face">
                                    <div class="cat-eyes"></div>
                                    <div class="cat-mouth"></div>
                                    <div class="cat-whiskers"></div>
                                  </div>
                                </div>
                              </div>
                              <div class="cat-lower-wrap">
                                <div class="cat-lower">
                                  <div class="cat-leg">
                                    <div class="cat-leg">
                                      <div class="cat-leg">
                                        <div class="cat-leg">
                                          <div class="cat-leg">
                                            <div class="cat-leg">
                                              <div class="cat-leg">
                                                <div class="cat-leg">
                                                  <div class="cat-leg">
                                                    <div class="cat-leg">
                                                      <div class="cat-leg">
                                                        <div class="cat-leg">
                                                          <div class="cat-leg">
                                                            <div class="cat-leg">
                                                              <div class="cat-leg">
                                                                <div class="cat-leg">
                                                                  <div class="cat-paw"></div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="cat-leg">
                                    <div class="cat-leg">
                                      <div class="cat-leg">
                                        <div class="cat-leg">
                                          <div class="cat-leg">
                                            <div class="cat-leg">
                                              <div class="cat-leg">
                                                <div class="cat-leg">
                                                  <div class="cat-leg">
                                                    <div class="cat-leg">
                                                      <div class="cat-leg">
                                                        <div class="cat-leg">
                                                          <div class="cat-leg">
                                                            <div class="cat-leg">
                                                              <div class="cat-leg">
                                                                <div class="cat-leg">
                                                                  <div class="cat-paw"></div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="cat-tail">
                                    <div class="cat-tail">
                                      <div class="cat-tail">
                                        <div class="cat-tail">
                                          <div class="cat-tail">
                                            <div class="cat-tail">
                                              <div class="cat-tail">
                                                <div class="cat-tail">
                                                  <div class="cat-tail">
                                                    <div class="cat-tail">
                                                      <div class="cat-tail">
                                                        <div class="cat-tail">
                                                          <div class="cat-tail">
                                                            <div class="cat-tail">
                                                              <div class="cat-tail">
                                                                <div class="cat-tail -end"></div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    </ol>
              </div>
            </div>
      </div>
      <!--recipe image-->
      <div class="image-box">
          {% if recipe.image %}
              <img src="{{ recipe.image }}" class="pull-right img-detail">
          {% endif %}
      </div>
    </div>
  </main>

{% endblock content %}
