{% extends 'base.html' %}

{% block page_name %}
  <title>Edit - Scrumptious</title>
{% endblock page_name %}

{% block content %}

<main>
  <form method="post" class="form-text" autocomplete="off">
      {% csrf_token %}
      {{ form.as_p }}
      <div>
        <button class="button">Edit Recipe</button>
      </div>
  </form>
</main>

{% endblock content %}
