{% extends 'base.html' %}

{% block page_name %}
  <title>Scrumptious</title>
{% endblock page_name %}

{% block content %}
  <main>
    <div class="pagination padded">
      <form method="POST">
        {% csrf_token %}
        <label for="sort_type">Sort by: </label>
        <select name="sort_type" onchange="this.form.submit()" class="sorting-select">
          <option>Select</option>
          <option value="-updated">Last updated</option>
          <option value="-created">Last created</option>
          <option value="name">Name</option>
          <option value="author">Author</option>
        </select>
      </form>
      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="unstyle-link">&#x25C0 &nbsp</a>
      {% endif %}
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="unstyle-link">&nbsp &#x25B6</a>
      {% endif %}
    </div>
    <div class="main-page-gallery">
      {% for recipe in recipe_list %}
          <a href="{% url 'recipe_detail' recipe.pk %}" class="card-a">
              <div class="recipe-card">
                  <h2 class="recipe-card-title">
                      {{ recipe.name }}
                  </h2>
                  {% if recipe.image %}
                      <img src="{{ recipe.image }}" class="pull-right card-img-detail">
                  {% endif %}
                  <span class="recipe-card-date">{{ recipe.updated }}</span>
                  <div class="recipe-tags">
                    {% for tag in recipe.tags.all %}
                        #{{ tag.name }}
                    {% endfor %}
                  </div>
              </div>
          </a>
      {% endfor %}
    </div>
  </main>
{% endblock content %}
