@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

/* tag selectors */
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: #c4c3ca;
  background-color: #121318;
  background-image: url('https://www.transparenttextures.com/patterns/grunge-wall.png');
  background-position: center;
  background-repeat: repeat;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}


@media screen and (max-width: 1200px) {

  .cursor,
  .cursor2,
  .cursor3 {
    display: none
  }
}

/* #Primary style
================================================== */

.section {
  position: relative;
  width: 100%;
  display: block;
}

.over-hide {
  overflow: hidden;
}

.full-height {
  height: 100vh;
}

/* #Navigation
================================================== */

.cd-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.header-backdrop {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.226);
  height: 110px;
  z-index: 40;
}

.header-wrapper {
  position: relative;
  width: calc(100% - 100px);
  margin-left: 20px;
}

.nav-but-wrap {
  position: relative;
  padding-left: 15px;
  padding-top: 15px;
  margin-top: 20px;
  transition: all 0.3s ease-out;
  width: 50%;
  display: grid;
  grid-template-columns: 45px 200px;
}

.menu-icon {
  padding-top: 10px;
  height: 30px;
  width: 30px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: block;
}

.menu-text {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
}

.menu-icon__line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: #fff;
  margin-bottom: 7px;
  cursor: pointer;
  -webkit-transition: background-color .5s ease, -webkit-transform .2s ease;
  transition: background-color .5s ease, -webkit-transform .2s ease;
  transition: transform .2s ease, background-color .5s ease;
  transition: transform .2s ease, background-color .5s ease, -webkit-transform .2s ease;
}

.menu-icon__line-left {
  width: 16.5px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.menu-icon__line-right {
  width: 16.5px;
  float: right;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}

.menu-icon:hover .menu-icon__line-left,
.menu-icon:hover .menu-icon__line-right {
  width: 30px;
}

.nav {
  position: fixed;
  z-index: 51;
}

.nav:before,
.nav:after {
  content: "";
  position: fixed;
  top: 20px;
  left: 20px;
  width: 0;
  height: 0;
  background-color: rgba(20, 21, 26, 0.6);
  border-bottom-right-radius: 200%;
  z-index: -1;
  transition: border-radius linear 0.8s, width cubic-bezier(0.77, 0, 0.175, 1) 0.6s, height cubic-bezier(0.77, 0, 0.175, 1) 0.6s;
}

.nav:after {
  background-color: rgb(122, 114, 97);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  box-shadow: 6px 7px 28px 0 rgba(16, 16, 16, 0.3);
}

.nav:before {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

.nav__content {
  position: fixed;
  visibility: hidden;
  top: 90px;
  left: 20px;
  width: 235px;
  text-align: left;
}

.nav__list {
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 2;
}

.nav__list-item {
  position: relative;
  display: block;
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
  opacity: 0;
  text-align: left;
  color: #fff;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 2px;
  -webkit-transform: translate(30px, 0%);
  transform: translate(30px, 0%);
  -webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
  transition: opacity .2s ease, -webkit-transform .2s ease;
  transition: opacity .2s ease, transform .2s ease;
  transition: opacity .2s ease, transform .2s ease, -webkit-transform .2s ease;
  margin-top: 7px;
  margin-bottom: 7px;
}

.nav__list-item a {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  overflow: hidden;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  z-index: 2;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.nav__list-item a:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: 5px;
  height: 0;
  opacity: 0;
  background-color: rgb(179, 149, 18);
  z-index: 1;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.nav__list-item a:hover:after {
  height: 100%;
  opacity: 1;
  top: 0;
}

.nav__list-item a:hover {
  color: rgba(255, 255, 255, 1);
}

.nav__list-item.active-nav a {
  color: rgba(255, 255, 255, 1);
}

.nav__list-item.active-nav a:after {
  height: 100%;
  opacity: 1;
  top: 0;
}

body.nav-active .nav__content {
  visibility: visible;
}

body.nav-active .menu-icon__line {
  background-color: #fff;
  -webkit-transform: translate(0px, 0px) rotate(-45deg);
  transform: translate(0px, 0px) rotate(-45deg);
}

body.nav-active .menu-icon__line-left {
  width: 15px;
  -webkit-transform: translate(2px, 4px) rotate(45deg);
  transform: translate(2px, 4px) rotate(45deg);
}

body.nav-active .menu-icon__line-right {
  width: 15px;
  float: right;
  -webkit-transform: translate(-3px, -3.5px) rotate(45deg);
  transform: translate(-3px, -3.5px) rotate(45deg);
}

body.nav-active .menu-icon:hover .menu-icon__line-left,
body.nav-active .menu-icon:hover .menu-icon__line-right {
  width: 15px;
}

body.nav-active .nav {
  visibility: visible;
}

/* ADJUST MENU BOX SIZE */

body.nav-active .nav:before,
body.nav-active .nav:after {
  width: 250px;
  height: 540px;
  border-radius: 15px;
}

body.nav-active .nav:after {
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}

body.nav-active .nav:before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

body.nav-active .nav__list-item {
  opacity: 1;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, transform .3s ease, color .3s ease;
  transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease;
}

body.nav-active .nav__list-item:nth-child(0) {
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

body.nav-active .nav__list-item:nth-child(1) {
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

body.nav-active .nav__list-item:nth-child(2) {
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}

body.nav-active .nav__list-item:nth-child(3) {
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}

body.nav-active .nav__list-item:nth-child(4) {
  -webkit-transition-delay: 1.1s;
  transition-delay: 1.1s;
}

body.nav-active .nav__list-item:nth-child(5) {
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
}

body.nav-active .nav__list-item:nth-child(6) {
  -webkit-transition-delay: 1.3s;
  transition-delay: 1.3s;
}

body.nav-active .nav__list-item:nth-child(7) {
  -webkit-transition-delay: 1.4s;
  transition-delay: 1.4s;
}

body.nav-active .nav__list-item:nth-child(8) {
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s;
}

body.nav-active .nav__list-item:nth-child(9) {
  -webkit-transition-delay: 1.6s;
  transition-delay: 1.6s;
}

body.nav-active .nav__list-item:nth-child(10) {
  -webkit-transition-delay: 1.7s;
  transition-delay: 1.7s;
}

/* Dark mode switch */

.switch-wrap {
  position: absolute;
  top: 58px;
  right: 57px;
  z-index: 1000;
  transform: translateY(-50%);
  width: 100px;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  margin: 0 auto;
  text-align: right;
  display: grid;
  grid-template-columns: 1fr 60px;
}

#switch,
#circle {
  cursor: pointer;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  border: 4px solid #fff;
  right: 3px;
  grid-column-start: 1;
}

#switch {
  width: 60px;
  height: 8px;
  margin: auto;
  text-align: center;
  border: 2px solid rgb(143, 143, 143);
  border-radius: 27px;
  background: rgb(143, 143, 143);
  position: relative;
  display: inline-block;
}

#circle {
  position: absolute;
  top: -10px;
  left: -13px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(26, 53, 71, 0.25), 0 0 0 1px rgba(26, 53, 71, 0.07);
  background: #fff;
}

.switched {
  border-color: rgb(143, 143, 143) !important;
  background: rgb(143, 143, 143) !important;
}

.switched #circle {
  left: 43px;
  border: 4px solid #000;
  background: #000;
}

.switch-text-dark {
  color: #fff;
  position: relative;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 2px;
}

.switch-text-light {
  color: #fff;
  opacity: 25%;
  position: relative;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 2px;
}

/* #Light mode
================================================== */

body.light {
  background-color: #fff;
}

body.light .header-backdrop {
  background-color: rgba(255, 255, 255, 0.212);
}

body.light .cursor,
body.light .cursor2,
body.light .cursor3 {
  mix-blend-mode: normal;
}

body.light .cursor2 {
  border: 2px solid #1f2029;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

body.light .cursor2.hover {
  background: rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  border-color: transparent;
}

body.light .menu-text {
  color: #1f2029;
}

body.light .menu-icon__line {
  background-color: #1f2029;
}

body.light .nav:before {
  background-color: rgba(235, 235, 235, 0.4);
}

body.light .nav:after {
  background-color: rgb(167, 194, 170);
  box-shadow: 6px 6px 22px rgba(42, 31, 63, 0.1);
}

body.light .nav__list-item a {
  color: rgba(0, 0, 0, 0.6);
}

body.light .nav__list-item a:after {
  background-color: rgb(60, 117, 14);
}

body.light .nav__list-item a:hover {
  color: #1f2029;
}

body.light .nav__list-item.active-nav a {
  color: #1f2029;
}

body.light .switch-text-dark {
  color: #000;
  opacity: 25%;
}

body.light .switch-text-light {
  color: #000;
  opacity: 100%;
}

body.light .switch-wrap p span:nth-child(2):before {
  opacity: 1;
  background-color: #000;
}

body.light .switch-wrap p span:nth-child(1):before {
  opacity: 0;
}

body.light .link-to-page {
  background-color: rgba(32, 82, 17, 0.4);
}

body.light .banner img {
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
}

/* #Banner and Footer
================================================== */
.link-to-page {
  position: fixed;
  bottom: 35px;
  right: 42px;
  z-index: 200;
  cursor: pointer;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 3px;
  background-position: center center;
  background-size: 80%;
  background-color: rgba(163, 133, 91, 0.4);
  background-repeat: no-repeat;
  background-image: url('https://cdn-icons-png.flaticon.com/512/6774/6774898.png');
  box-shadow: 0 0 0 2px rgba(255, 255, 255, .1);
  transition: opacity .2s, border-radius .2s, box-shadow .2s;
  transition-timing-function: ease-out;
}

.link-to-page:hover {
  opacity: 0.8;
  border-radius: 50%;
  box-shadow: 0 0 0 20px rgba(255, 255, 255, .1);
}

main {
  position: absolute;
  top: 125px;
  left: 140px;
  right: 140px;
}

.banner {
  position: fixed;
  z-index: 50;
  width: 100%;
  display: grid;
  grid-template-columns: 10fr 1fr 10fr;
}

.banner img {
  display: block;
  margin-top: 7px;
  min-width: 300px;
  max-width: 300px;
  grid-column-start: 2;
}

.two-columns {
  display: grid;
  gap: 2.5em;
  grid-template-columns: repeat(2, minmax(425px, 1fr));
}

.text-content {
  color: #fff;
  padding: 3px;
  font-weight: 400;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 4px #fff, 0 0 8px rgb(60, 117, 14);
  }

  to {
    text-shadow: 0 0 5px rgb(199, 134, 37), 0 0 10px #fff;
  }
}

.recipe-tags {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

body.light .text-content {
  color: #000;
}

.image-box {
  max-width: 500px;
}

.img-detail {
  max-width: 100%;
  max-height: auto;
  box-shadow: 0px 12px 24px 0px rgba(255, 255, 255, 0.4);
}

.card-img-detail {
  max-width: 100%;
  max-height: auto;
  box-shadow: 0px 6px 12px 0px rgba(255, 255, 255, 0.4);
}

body.light .img-detail {
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.4);
}

body.light .card-img-detail {
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.4);
}

.recipe-name {
  font-size: 40px;
  font-weight: 700;
}

.recipe-description p {
  display: block;
  background-image: url("https://www.transparenttextures.com/patterns/notebook.png");
  background-color: rgba(53, 36, 12, 0.63);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 10px;
  color: #fff;
}

body.light .recipe-description p {
  background-color: rgba(32, 82, 17, 0.199);
  background-image: url("https://www.transparenttextures.com/patterns/lined-paper-2.png");
  color: #000;
}

.ingredients-table {
  table-layout: fixed;
  text-align: left;
  width: 100%;
  padding-top: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-content-def-open {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
  background-image: url("https://www.transparenttextures.com/patterns/notebook.png");
  background-color: rgba(53, 36, 12, 0.63);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px 10px 10px;
  z-index: 1;
}

.dropdown-content-def-close {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
  background-image: url("https://www.transparenttextures.com/patterns/notebook.png");
  background-color: rgba(53, 36, 12, 0.63);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px 10px 10px;
  z-index: 1;
}

body.light .dropdown-content-def-open,
body.light .dropdown-content-def-close {
  background-color: rgba(32, 82, 17, 0.199);
  background-image: url("https://www.transparenttextures.com/patterns/lined-paper-2.png");
}

.drop-down-input {
  display: none;
}

.drop-down-label {
  position: relative;
  display: block;
  cursor: pointer;
}

input:checked~.dropdown-content-def-open {
  display: none;
}

input:checked~.dropdown-content-def-close {
  display: block;
}

.edit-recipe-link {
  display: inline;
  max-width: 175px;
  color: inherit;
}

.icon-menu:before {
  content: "\25B6";
  display: inline;
}

.main-page-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: 1.5em;
  color: #fff;
}

body.light .main-page-gallery {
  color: #000;
}

.mini-page-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1.5em;
  color: #fff;
}

body.light .mini-page-gallery {
  color: #000;
}

.shopping-item-gallery {
  display: grid;
  max-width: 400px;
  gap: 1.5em;
  color: #fff;
  font-weight: 600;
}

body.light .shopping-item-gallery {
  color: #000;
}

.recipe-card {
  background-color: rgba(94, 60, 11, 0.4);
  background-image: url("https://www.transparenttextures.com/patterns/notebook.png");
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  padding: 5px 15px 5px;
}

body.light .recipe-card {
  background-color: rgba(32, 82, 17, 0.25);
  background-image: url("https://www.transparenttextures.com/patterns/lined-paper-2.png");
}

.card-a {
  color: inherit;
  text-decoration: inherit;
}

.recipe-card-title {
  margin-bottom: 5px;
}

.recipe-card-date {
  vertical-align: bottom;
}

.recipe-card:hover {
  background: rgba(199, 134, 37, 0.699);
  transition: 0.5s;
  transform: rotate(-2deg);
  border: 1.5px solid #fff;
}

body.light .recipe-card:hover {
  background: rgba(66, 100, 61, 0.60);
  border: 1.5px solid #000;
}

.form-text {
  color: #fff;
}

.form-text input,
.form-text textarea {
  border: 2px solid rgb(199, 134, 37);
  border-radius: 4px;
  padding: 1em 1.5em;
  width: 500px;
  display: block;
}

.form-text option {
  padding: 4px;
  width: 448px;
  display: block;
  font-weight: 600;
}

.form-text input:focus,
textarea:focus {
  box-shadow: 4px 4px 4px 4px rgba(199, 134, 37, 0.4);
  background: rgb(238, 230, 215);
}

body.light .form-text input,
body.light .form-text textarea {
  border: 2px solid rgba(63, 92, 17)
}

body.light .form-text input:focus,
body.light .form-text textarea:focus {
  box-shadow: 4px 4px 4px 4px rgba(101, 156, 11, 0.4);
  background: rgb(223, 238, 215);
}

body.light .form-text {
  color: #000;
  font-weight: 400;
}

.rating-form-text {
  color: #fff;
  margin-bottom: 5px;
}

.rating-form-text label {
  display: none;
}

.rating-form-text input,
.rating-form-text textarea {
  border: 2px solid rgb(199, 134, 37);
  border-radius: 4px;
  padding: 4px;
  width: 50px;
}

body.light .rating-form-text input,
body.light .rating-form-text textarea {
  border: 2px solid rgb(63, 92, 17)
}

body.light .rating-form-text {
  color: #000;
}


button.button {
  background-color: rgb(199, 134, 37);
  border: 2px solid transparent;
  border-radius: 4px;
  color: white;
  padding: 4px;
  text-transform: uppercase;
}

button.button:hover {
  background-color: white;
  border-color: rgb(199, 134, 37);
  color: rgb(199, 134, 37);
}

body.light button.button {
  background-color: rgb(63, 92, 17);
}

body.light button.button:hover {
  background-color: white;
  border-color: rgb(101, 156, 11);
  color: rgb(101, 156, 11);
}

button.button:active {
  background-color: lightgrey;
}

.date-text {
  font-size: 14px;
}

.pagination {
  margin-top: 15px;
  color: #fff;
  text-align: right;
  top: 50%;
}

.pagination a {
  color: inherit;
}

body.light .pagination {
  color: #000;
}

.unstyle-link {
  text-decoration: none;
  color: #fff;
}

body.light .unstyle-link {
  color: #000;
}

.padded {
  padding: 10px;
}

.subheading-links,
.subheading-links a {
  color: #fff;
}

body.light .subheading-links,
body.light .subheading-links a {
  color: #000;
  font-weight: 600;
}

.custom-heading1 {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

body.light .custom-heading1 {
  color: #000;
}

.mealplan-description {
  display: block;
  background-image: url("https://www.transparenttextures.com/patterns/notebook.png");
  background-color: rgba(53, 36, 12, 0.63);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  color: #fff;
}

.mealplan-description p {
  padding: 10px;
}

body.light .mealplan-description {
  background-color: rgba(32, 82, 17, 0.199);
  background-image: url("https://www.transparenttextures.com/patterns/lined-paper-2.png");
  color: #000;
}

.shopping-list-button {
  background-color: rgb(199, 134, 37);
  border: 2px solid rgba(255, 255, 255, 0.295);
  border-radius: 4px;
  color: white;
  padding: 4px 7px 4px 7px;
  text-transform: uppercase;
  left: 30%;
}

.shopping-list-button:hover {
  background-color: white;
  border-color: rgb(199, 134, 37);
  color: rgb(199, 134, 37);
}


body.light .shopping-list-button {
  background-color: rgb(198, 212, 176);
  border: 2px solid rgba(0, 0, 0, 0.295);
  color: #000;
}

body.light .shopping-list-button:hover {
  background-color: white;
}

.shopping-list-button:active,
body.light .shopping-list-button:active {
  background-color: lightgrey;
}

.sorting-select {
  border: 2px solid transparent;
  padding: 1px;
  text-align: left;
  width: 100px;
  border-radius: 5%;
}

body.light .sorting-select {
  background-color: rgba(18, 71, 18, 0.575);
  color: #fff;
}

.serving-scaler {
  border: 2px solid transparent;
  padding: 1px;
  text-align: center;
  width: 40px;
  height: 15px;
  border-radius: 5%;
  font-weight: 600;
}
