{% extends 'base.html' %}

{% block page_name %}
  <title>Scrumptious</title>
{% endblock page_name %}

{% block content %}
  <main>
    <div class="custom-heading1">Your Shopping List</div>
    <div>
      <form method="post" action="{% url 'shopping_delete' %}">
        {% csrf_token %}
        <button class="button">Delete all</button>
      </form>
    </div>
    <br>
    <div class="shopping-item-gallery">
      {% for item in shoppingitem_list %}
        <div class="recipe-card">
          {{ item.food_item }}
        </div>
      {% endfor %}
    </div>
  </main>
{% endblock content %}
