{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Scrumptious</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
    <h2>Log in</h2>
    <form method="post" autocomplete = "off">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Log In</button>
</body>

</html>
