{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block page_name %}
  {% endblock page_name %}
  <link rel="stylesheet" href="{% static 'css/cat.css' %}">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
    <div class="banner">
        <!--Adjust banner-->
        <img src="https://i.imgur.com/8m2emSJ.png">
    </div>
    <header class="cd-header">
        <div class="header-wrapper">
            <div class="nav-but-wrap">
                <div class="menu-icon hover-target">
                    <span class="menu-icon__line menu-icon__line-left"></span>
                    <span class="menu-icon__line"></span>
                    <span class="menu-icon__line menu-icon__line-right"></span>
                </div>
                <div class="menu-text">
                    Menu
                </div>
            </div>
        </div>
        <div class="switch-wrap">
            <div id="switch" class="hover-target">
                <div id="circle"></div>
            </div>
            <div>
                <div class="switch-text-dark">
                dark
                </div>
                <div class="switch-text-light">
                    light
                </div>
            </div>
        </div>
    </header>
    <div class="header-backdrop">
    </div>
    <div class="nav">
        <div class="nav__content">
            <ul class="nav__list">
                <!-- change active nav to current page by changing class="nav_list-item active-nav"-->
                <li class="nav__list-item"><a href="{% url 'home' %}" class="hover-target">Home</a></li>
                {% if user.is_authenticated %}
                    <li class="nav__list-item"><a href="{% url 'mealplan_list' %}" class="hover-target">Meal Plans</a></li>
                    <li class="nav__list-item"><a href="{% url 'tags_list' %}" class="hover-target">Tags</a></li>
                    <li class="nav__list-item"><a href="{% url 'recipe_new' %}" class="hover-target">Add a Recipe</a></li>
                    <li class="nav__list-item"><a href="{% url 'mealplan_new' %}" class="hover-target">Add a Meal Plan</a></li>
                    <li class="nav__list-item"><a href="{% url 'shopping_list' %}" class="hover-target">View Shopping List</a></li>
                    {% if user.is_staff %}
                        <li class="nav__list-item"><a href="{% url 'admin:index' %}" class="hover-target">Admin</a></li>
                    {% endif %}
                    <li class="nav__list-item"><a href="{% url 'logout' %}" class="hover-target">Log Out</a></li>
                {% endif %}
                {% if user.is_authenticated == False %}
                    <li class="nav__list-item"><a href="{% url 'login' %}" class="hover-target">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    {% block content %}
    {% endblock content %}

    <footer>
        <a href="{% url 'home' %}" class="link-to-page" target=”_blank”></a>
    </footer>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
</body>

</html>
